<style>
  .mystyle {
    background-color: rgb(33, 42, 17);
  }

  .navbar-nav,
  .navbar-brand {
    font-weight: 900;
  }
</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/userhome" routerLinkActive="active" >BigBoyToys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="adminhome.html">Home</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="allproducts">All Products</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="/allproducts" routerLinkActive="active">All Products</a>
        </li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="userlist">Userlist</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="/bookinghistory" routerLinkActive="active">Booking
            History</a></li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">...</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
            <li><a class="dropdown-item" routerLink="/userprofile" routerLinkActive="active">My Profile</a></li>
            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar"
                class="img-fluid my-5" style="width: 80px;" />
              <div>

                <h5>{{profile.name}}</h5>
                <p>User Id: {{profile.id}}</p>
                <!-- <p>Password: {{profile.psw}}</p> -->
                <i class="far fa-edit mb-5"></i>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{profile.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{profile.mob}}</p>
                  </div>
                </div>
                <!-- <h6>Projects</h6> -->
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Birth</h6>
                    <p class="text-muted">{{profile.birth}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Gender</h6>
                    <p class="text-muted">{{profile.gender}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>