<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <style>
       
        .navbar-nav,.navbar-brand{
           font-weight:900;
        }
    </style>
</head>

<body>
    <!-- Navigation-->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-5">
            <a class="navbar-brand" routerLink="/userhome" routerLinkActive="active"><b>BigBoyToys</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item"><a class="nav-link" routerLink="adminhome.html">Home</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" routerLink="allproducts">All Products</a></li> -->
                    <li class="nav-item"><a class="nav-link" routerLink="/allproducts" routerLinkActive="active">All Products</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" routerLink="userlist">Userlist</a></li> -->
                    <li class="nav-item"><a class="nav-link" routerLink="/bookinghistory" routerLinkActive="active">Booking History</a></li>
                    
                    <!-- <li class="nav-item"><a class="nav-link" routerLink="addbike">Add New Bike</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li> -->
                    <!-- <li class="nav-item dropdown"> -->
                        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog"> -->
                            <!-- <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                            <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li> -->
                        <!-- </ul> -->
                    <!-- </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li><a class="dropdown-item" routerLink="/userprofile" routerLinkActive="active">My Profile</a></li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Choose your Machine</h1>
                <p class="lead fw-normal text-white-50 mb-0"></p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top"
                            src="https://www.yamaha-motor-india.com/theme/v3/image/fz-fi/color/color-08.png"
                            alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Yamaha FZ150</h5>
                                <!-- Product reviews-->
                                
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"></span>
                                Rs 1,000 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top"
                            src="https://www.royalenfield.com/content/dam/royal-enfield/hunter-350/studio-shots/new/dapper-white.png"
                            alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Royal Enfield Hunter 350</h5>
                                <!-- Product price-->
                                <!-- <span class="text-muted text-decoration-line-through">1,55,000</span> -->
                                Rs 1,500 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/124645/pulsar-n160-right-front-three-quarter.jpeg?isig=0&q=80" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Bajaj Pulsar N160</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"></span>
                                Rs 1,200 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top"
                            src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/114277/pulsar-150-right-front-three-quarter-9.png?isig=0&q=80" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Bajaj Pulsar150</h5>
                                <!-- Product price-->
                                Rs 1,000 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/101487/classic-350-2021-right-side-view-2.jpeg?isig=0&q=80"
                            alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Royal Enfield Classic 350</h5>
                                <!-- Product reviews-->
                                <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div> -->
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"></span>
                                Rs 1,600 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="	https://imgd.aeplcdn.com/1280x720/n/cw/ec/105184/xpulse-200-4v-right-side-view-9.png?isig=0&q=80" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Hero Xpulse</h5>
                                <!-- Product reviews-->
                                
                                <!-- Product price-->
                                Rs 1,200 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/129743/duke-200-left-front-three-quarter-4.png?isig=0&q=80" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Ktm Duke 200</h5>
                                <!-- Product reviews-->
                                
                                
                                <!-- Product price-->
                                Rs 1,300 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top"
                            src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/49725/apache-200-right-front-three-quarter.jpeg?q=80"
                            alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">TVS Apache 200</h5>
                                <!-- Product reviews-->
                                
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"></span>
                                Rs 1,200 onwards
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/bookbike" routerLinkActive="active">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="w3-container">
        <h2>Bikes List</h2>
      
        <table border="2" class="w3-table-all w3-large">
          <thead>
          <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of bikes">
              <td>{{b.id}}</td>
              <td>{{b.img}}</td>
              <td>{{b.brand}}</td>
              <td>{{b.model}}</td>
              <td>{{b.price}}</td>
              
              <th><Button type="button" style="background-color: green;">Success</Button></th>
            </tr>
          </tbody>
        </table>
        </div> -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>