<style>
  .mystyle {
    background-color:white;
  }
  
  .navbar-nav,
  .navbar-brand {
    font-weight: 900;
  }
  </style>
  
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-5">
                <a class="navbar-brand" routerLink="/signin" routerLinkActive="active">BigBoyToys</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    </ul>
                </div>
            </div>
        </nav>
    </main>
<form #update="ngForm" (ngSubmit)="updateData(update)" method="post">
    <div class="imgcontainer">
      
      <br><b>Update Password</b>
    </div>
  
    <div class="container">
      <label for="id"><b>User Id</b></label>
      <input type="number" placeholder="Enter Id" id="id" name="id" ngModel="id"  required>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" id="name" name="name" ngModel="name"  required>
  
      <label for="mob"><b>Mobile Number</b></label>
        <input type="number" placeholder="Enter Mobile Number" name="mob" id="mob"  ngModel="mob" required>

        <label for="birth"><b>Birthdate</b></label>
        <input type="date" placeholder="Enter Birthdate" name="birth" id="birth"  ngModel="birth" required><br>

        <label for="gender"><b>Gender</b></label><br>
        <input type="text" placeholder="Enter Gender" name="gender" id="gender"  ngModel="gender" required><br><br>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email"  ngModel="email" required minlength="2" maxlength="30" #mail="ngModel" ngModel>
        <span *ngIf="mail && mail.touched && mail.invalid" style="color: red; ">Invalid Email</span><br>

        <label for="psw"><b>New Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw"  ngModel="psw" required minlength="2" maxlength="8" #pass="ngModel" ngModel>
        <span *ngIf="pass && pass.invalid && pass.touched" style="color: red">Invalid password</span>

      
  
      <button  type="submit">Submit</button>
      
    </div>
  
    
  </form>
  